html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    background-color: #fdf6f6;
}

/* --------HEADER AND NAVBAR-------- */
#navbar{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #c6f1c2;
    font-size: 150%;
}

/* header clear fix */
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    display: flex;
    justify-content: flex-start;
    float: left;
    color: #022520;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

/* styling list */
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* styling list elements */
nav li{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 70px;
    padding-top: 3vh;

    position: relative;
}

/* styling contents of list elements */
nav a{
    color: #022520;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

/* bolding effect when cursor hovers over element */
nav a:hover{
    color: #000;
}

/* bar effect when cursor hovers over element */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #000000;
    
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}

/* makes the navbar sticky */
#header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

/* --------LANDING PAGE-------- */

#landing-page{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-page::before{    
    content: "";
    background-image:url('../media/me_2.JPG');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    background-attachment: fixed;
}

h1{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 400%;
    font-weight: 300;
    text-align: center;
    color: #202020;
}

/* --------Anime-------- */

#about-me{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 100vh;
}

#about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(106, 107, 106); */
    background-color: #d3f1ec;
    flex: 1;
}

#about-title h3{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    color: #03d4b2;
}

#about-images{
    display: flex;
    justify-content: center;
}

#denji-drawing{
    width: 15%;
}

#article{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(4, 71, 4); */
    background-color: #d3f1ec;
    text-align: center;
    flex: 1;
}

#article h3{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    color: #03d4b2;
}
